*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    align-items: center;
    justify-self: center;
    height: 100vh;
    background-image: url("./img/a.jpg");
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;

}

/* Dung cho Phone */
 .phone{
    align-items: center;
    justify-self: center;
    height: 100vh;
} 

.container-phone{
    position: relative;
    margin: 5% auto;
    width: 350px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 1000%;
    height: 100%;
}

.slider-section {
    width: calc(100% / 10);
}

.slider-section img {
    width: 350px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.btn-right,
.btn-left {
    position: absolute;
    top: 50%;
    color: #f78989;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    padding: 5px;
}

.btn-right:hover,
.btn-left:hover {
    color: blue;
}

.btn-left {
    left: 3px;
}

.btn-right {
   right: 3px;
}

.phone{
    display: none;
}

/* Dung cho PC */
/* Goc */
/* .pc{
    position: relative;
    align-items: center;
    justify-self: center;
    background-position: center;
    overflow: hidden; 
} */


/* #album{
    position:absolute;
    margin: 5% auto;
    width: 780px;
    height: 550px;
} */

/* #album .turn-page{
	background-color:#ccc;
    background-size: 100% 100%;
} */
/* Goc */

/* Moi */
.pc{
    /* align-items: center;
    justify-self: center; */
    height: 100vh;
}
.book {
    position: relative;
    width: 390px;
    height: 550px;
    transition: transform 0.5s ease-in;
    margin: auto;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

image {
    width: 100%;
    height: 100%;
}

.front, 
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: 0.75s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.back {
    z-index: 0;
}

.front-content, 
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg);
}
/* Paper flip*/
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

#nut {
    margin-top: 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Button*/
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s ease-out;
}

button:focus {
    outline: none;
}

button:hover i {
    color: rgb(236, 22, 40);
}

i{
    font-size: 40px;
    color: rgb(28, 13, 228);
    background-color: transparent;
}

/*Paper stack order*/
#p1 {
    z-index: 5;
}
#p2 {
    z-index: 4;
}
#p3 {
    z-index: 3;
}
#p4 {
    z-index: 2;
}
#p5 {
    z-index: 1;
}

/* Moi */


/* Thiet lap lua cho loai giao dien Phone hay PC */
@media (max-width: 740px) {
    .phone{
       display: block;
    }
    .pc{
        display: none;
    }
}



